In [13]:
# Machine Learning Final
# Connor Hehn and John Minogue

import pandas as pd
import numpy as np

In [14]:
# Reading the data into data frames

df1_E = pd.read_csv("Data/Subject01E.csv")

df2_E = pd.read_csv("Data/Subject02E.csv")
df2_G = pd.read_csv("Data/Subject02G.csv")

df3_E = pd.read_csv("Data/Subject03E.csv")
df3_G = pd.read_csv("Data/Subject03G.csv")

df4_E = pd.read_csv("Data/Subject04E.csv")
df4_G = pd.read_csv("Data/Subject04G.csv")

df5_E = pd.read_csv("Data/Subject05E.csv")
df5_G = pd.read_csv("Data/Subject05G.csv")

df6_E = pd.read_csv("Data/Subject06E.csv")
df6_G = pd.read_csv("Data/Subject06G.csv")

df7_E = pd.read_csv("Data/Subject07E.csv")
df7_G = pd.read_csv("Data/Subject07G.csv")

df8_E = pd.read_csv("Data/Subject08E.csv")
df8_G = pd.read_csv("Data/Subject08G.csv")

df9_E = pd.read_csv("Data/Subject09E.csv")
df9_G = pd.read_csv("Data/Subject09G.csv")

df10_E = pd.read_csv("Data/Subject10E.csv")
df10_G = pd.read_csv("Data/Subject10G.csv")

,Grounded,Time[secs],Forefoot Force[N],Midfoot Force[N],Heel Force[N],TForce[N],RAnkleFlexion,RAnkleInversion,RAnkleAbduction,Person
0,0,0.01,274.29,191.88,279.21,745.38,-6.583525,3.415617,12.425176,1
1,0,0.02,286.59,199.26,276.75,762.60,-6.895129,3.008715,11.788162,1
2,0,0.03,293.97,201.72,269.37,765.06,-6.947074,2.601892,11.768117,1
3,0,0.04,301.35,201.72,259.53,762.60,-6.461608,2.700659,12.030459,1
4,0,0.05,303.81,201.72,247.23,752.76,-6.734402,2.411798,12.041267,1
...,...,...,...,...,...,...,...,...,...,...
495,0,4.96,254.19,99.90,9.99,364.08,-0.300845,-2.691504,10.428993,1
496,0,4.97,259.74,96.57,9.99,366.30,-0.410060,-2.646123,10.370828,1
497,0,4.98,261.96,92.13,9.99,364.08,-0.389229,-2.686884,10.441138,1
498,0,4.99,266.40,89.91,6.66,362.97,-0.398083,-2.616444,10.507147,1
499,0,5.00,269.73,84.36,6.66,360.75,-0.393904,-2.539554,10.625781,1